force-app/main/default/flows/order_product_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_quantity_value</name>
        <label>Assign quantity value</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>order_quantity_placed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_inventory_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_quanity_in_order_product_is_added_it_should_increase_in_inv_if_we_decrease_he</name>
        <label>If quanity in order product is added it should increase in inv &amp; if we decrease here it should change in Inventory</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_is_added_in_order_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Placed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_inv_when_orderplaced</targetReference>
            </connector>
            <label>Quantity is added in order product</label>
        </rules>
        <rules>
            <name>If_Quantity_is_Reduced_it_should_be_reduced_in_inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_order_received</targetReference>
            </connector>
            <label>If Quantity is Reduced it should be reduced in inventory</label>
        </rules>
        <rules>
            <name>Under_QA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>under_QA_delete_quantity</targetReference>
            </connector>
            <label>Under QA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>add_orders_recieved</name>
        <dataType>Number</dataType>
        <expression>{!Get_inventory_records.Order__c} + {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>deleteorderrecieved</name>
        <dataType>Number</dataType>
        <expression>{!Get_inventory_records.Order__c} - {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>On_order_quantity_whenorderplaced</name>
        <dataType>Number</dataType>
        <expression>{!order_quantity_placed}+{!Get_inventory_records.On_Order__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Updateonorderreceived</name>
        <dataType>Number</dataType>
        <expression>{!Get_inventory_records.On_Order__c}-{!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>order product flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>order product flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_inventory_records</name>
        <label>Get inventory records</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_quanity_in_order_product_is_added_it_should_increase_in_inv_if_we_decrease_he</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>under_QA_delete_quantity</name>
        <label>under QA delete quantity</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inventory_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>deleteorderrecieved</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_inv_when_orderplaced</name>
        <label>Update inv when orderplaced</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inventory_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Order__c</field>
            <value>
                <elementReference>On_order_quantity_whenorderplaced</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_received</name>
        <label>Update order received</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inventory_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Order__c</field>
            <value>
                <elementReference>Updateonorderreceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>add_orders_recieved</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_quantity_value</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>order_quantity_placed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
